@import 'tailwindcss';
@import '@erve/theme/theme.css';

@source '../../../packages/primitives/src';
@source '../../../packages/layout/src';
@source '../../../packages/app-components/src';
@source '../../../packages/data-display/src';
@source '../../../packages/theme/src';

@layer base {
  html {
    font-family: var(--erp-font-family-sans);
    background: var(--erp-color-app-bg);
    color: var(--erp-color-foreground);
  }

  body {
    min-height: 100vh;
    background: var(--erp-color-app-bg);
  }
}
